<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto mb-5">

      <%= render "layouts/errors", obj: @contact %>
      <h3 class="my-2" style="color: #696969;">お問い合わせフォーム</h3>

      <%= form_with model: @contact, url: confirm_contacts_path do |f| %>
        <div class="my-2 field">
          <%= f.label :name, "お名前" %>
          <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control" %>
        </div>

        <div class="my-2 field">
          <%= f.label :email, "メールアドレス" %>
          <%= f.email_field :email, autocomplete: "email", class: "form-control" %>
        </div>

        <div class="my-2 field">
          <%= f.label :subject, "件名" %>
          <%= f.text_field :subject, class: "form-control" %>
        </div>

        <div class="my-2 field">
          <%= f.label :message, "お問い合わせ内容" %>
          <%= f.text_area :message, class: "form-control" %>
        </div>

        <div class="my-3 field">
          <%= f.submit "内容の確認", class: "btn btn-outline-secondary px-3 py-1" %>
        </div>

      <% end %>
    </div>
  </div>
</div>
