<div class="container">
  <div class="row">
    <%= render "layouts/errors", obj: @post %>

    <div class="col-md-11 mx-auto">
    <%= form_with model: @post, url: post_path, method: :patch, locals: { photos: @post.photos } do |f| %>
        <h3 class="my-3">編集画面</h3>
          <!--画像フォーム-->
        <div id="image-box">
          <div id="previews">
            <p class="mb-2">
              お店の写真(10枚まで投稿可) 必須<br>
              ※前回投稿されたデータはフォーム、プレビューでそれぞれ昇順に整列しております。<br>
              変更する場合はフォームをクリックor削除してください。
            </p>
            <% if @post.persisted? %>
              <% @post.photos.each_with_index do |img, i| %>
                <%= image_tag img.image.url, data: { index: i }, width: "100", height: '100' %>
              <% end %>
            <% end %>
          </div>
          <%= f.fields_for :photos do |img| %>
            <div data-index="<%= img.index %>" class="js-file_group">
              <%= img.file_field :image, class: 'js-file', id: "file-upload" %><br>
              <%= img.hidden_field :image_cache %>
              <span class="js-remove">削除</span>
            </div>
            <% if @post.persisted? %>
              <%= img.check_box :_destroy, data:{ index: img.index }, class: 'hidden-destroy' %>
            <% end %>
          <% end %>
          <% if @post.persisted? %>
            <div data-index="<%= @post.photos.count %>" class="js-file_group">
              <%= file_field_tag :image, name: "post[photos_attributes][#{@post.photos.count}][image]", class: 'js-file' %>
              <div class="js-remove">削除</div>
            </div>
          <% end %>
        </div>

          <!--入力フォーム-->
        <div class="form-group">
          <%= f.label :title, "タイトル" %>
          <%= f.text_field :title, autofocus: true, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label "タグ (,で区切ると複数タグ登録できます)" %>
          <%= f.text_field :name, value: @tag_list, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :shop_name, "ショップ名" %>
          <%= f.text_field :shop_name, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :address, "住所" %>
          <%= f.text_field :address, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :body, "おすすめポイント" %>
          <%= f.text_area :body, class: "form-control" %>
        </div>

        <div class="d-grid gap-2 my-2">
          <%= f.submit "編集内容を保存する", class: "btn btn-primary" %>
          <%= link_to "投稿を削除する", post_path(@post.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-danger" %>
        </div>
    <% end %>
    </div>

  </div>
</div>
