<div class="container">
  <div class="row mx-auto">
    <div class="col-md-11">
      <h3 class="my-3">新規投稿画面</h3>

      <%= form_with model: @post, url: posts_path, method: :post do |f| %>
      <!--画像フォーム-->
      <div class="upload-box">
        <div class="upload-box_head">
          <h4 class="bigger">お店の画像</h4>
          <p class="discription">最大10枚までアップロードできます</p>
        </div>

        <%= f.fields_for :photos do |image| %>
          <div class="drop-container" id="preview">
            <div class="dropzone-area">
              <%= image.label :image, class: "dropzone-box", for: "upload-image" do %>
                <div class="input-area">
                  <%= image.file_field :image, multiple: true, name: 'good_photos[image][]', id: "upload-image", class: "upload-image", 'data-image': 0 %>
                  <p>ここをクリックしてください</p>
                </div>
              <% end %>
            </div>
          </div>
          <div class="drop-container" id="preview2">
            <div class="dropzone-area2">
              <%= image.label :image, class: "dropzone-box", for: "upload-image" do %>
                <p>ここをクリックしてください。</p>
              <% end %>
            </div>
          </div>
        <% end %>
        </div>
          <!--入力フォーム-->
        <div class="form-group">
          <%= f.label :title, "タイトル" %>
          <%= f.text_field :title, autofocus: true, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :shop_name, "ショップ名" %>
          <%= f.text_field :shop_name, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :address, "住所" %>
          <%= f.text_field :address, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :body, "おすすめポイント" %>
          <%= f.text_area :body, class: "form-control" %>
        </div>

        <div class="my-2">
          <%= f.submit "投稿する", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
