<div class="container">
  <div class="row no-gutters">

      <%= form_with model: @post, url: posts_path do |f| %>
      <div class="col-md-11 mx-auto">
        <h3 class="my-3">新規投稿画面</h3>
          <!--画像フォーム-->
        <div id="image-box">
          <p class="mb-2">お店の写真(10枚まで投稿可) 必須</p>

          <%= f.fields_for :photos do |img| %>
            <div data-index="<%= img.index %>" class="js-file_group">
              <%= img.file_field :image, class: 'js-file', id: "file-upload" %><br>
              <%= img.hidden_field :image_cache %>
              <span class="js-remove">削除</span>
            </div>
          <% end %>
        </div>

          <!--入力フォーム-->
        <div class="form-group">
          <%= f.label :title, "タイトル" %>
          <%= f.text_field :title, autofocus: true, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :shop_name, "ショップ名" %>
          <%= f.text_field :shop_name, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :address, "住所" %>
          <%= f.text_field :address, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :body, "おすすめポイント" %>
          <%= f.text_area :body, class: "form-control" %>
        </div>

        <div class="my-2">
          <%= f.submit "投稿する", class: "btn btn-primary" %>
        </div>
      </div>
      <% end %>

  </div>
</div>
