<div class="container">
  <div class="row">

      <%= form_with model: @post, url: posts_path do |f| %>
      <div class="col-md-11 mx-auto">
        <h3 class="my-3">新規投稿画面</h3>
          <!--画像フォーム-->
        <%= f.fields_for :photos do |img| %>
          <div class="form-area_image_field">
            <%= img.label :image, "お店の画像" %>
            <%= img.file_field :image, multiple: true, name: "photos[image][]" %>
            <%= hidden_field :photos, :post_id, value: @post.id %>
          </div>
        <% end %>

        <div class="form_area__hidden_field">
          <%= hidden_field :post, :user_id, value: current_user.id %>
        </div>

          <!--入力フォーム-->
        <div class="form-group">
          <%= f.label :title, "タイトル" %>
          <%= f.text_field :title, autofocus: true, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :shop_name, "ショップ名" %>
          <%= f.text_field :shop_name, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :address, "住所" %>
          <%= f.text_field :address, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :body, "おすすめポイント" %>
          <%= f.text_area :body, class: "form-control" %>
        </div>

        <div class="my-2">
          <%= f.submit "投稿する", class: "btn btn-primary" %>
        </div>
      </div>
      <% end %>

  </div>
</div>
