<div class="container">
  <div class="row">

    <div class="col-md-11 shadow-lg my-3 mx-auto">
      <div class="row d-flex m-2">
        <h3><strong><%= @post.title %></strong></h3>
        <div class="ml-auto">
          <% if @user.name == current_user.name %>
            <%= link_to "編集する", edit_post_path, class: "btn btn-secondary" %>
          <% end %>
        </div>
      </div>

      <div class="d-grid gap-3">
        <div class="d-flex">
          <%= link_to user_path(@user.name) do %>
            <%= image_tag @user.get_profile_image(80, 80), class: "rounded-circle" %>
            <%= @user.name %>
          <% end %>
          <div class="my-auto mx-2" id="relationship">
            <%= render "public/relationships/btn", user: @user %>
          </div>
        </div>
          <p class="mt-5">投稿日: <%= @post.created_at.strftime('%Y/%m/%d') %></p>
          <div class="d-flex">
            <p class="mr-3" id="post_comments_count">
              <%= render "public/post_comments/count", post: @post %>
            </p>
            <div id="like_buttons_<%= @post.id %>">
              <%= render "public/likes/likes-btn", post: @post %>
            </div>
          </div>
          <% @post_tag.each do |tag| %>
            <%=tag.name%>
            <%="(#{tag.posts.count})" %>
          <% end %>
      </div>

      <div class="photos-field my-3">
        <% @post.photos.each do |img|%>
          <%= image_tag img.image.url %>
        <% end %>
      </div>

      <h6 class="my-2"><strong>ショップ名：</strong> <%= @post.shop_name %></h6>
      <h6 class="my-2"><strong>住所：</strong> <%= @post.address %></h6>
      <div class="my-2">
        <h6 class="mb-2"><strong>おすすめポイント</strong></h6>
        <p><%= safe_join(@post.body.split("\n"),tag(:br)) %></p>
      </div>
    </div>

      <div class="col-md-11 shadow-lg my-3 d-grid gap-2 mx-auto">
        <div id="post_comments_content_<%= @post.id %>">
          <%= render "public/post_comments/index", post: @post %>
        </div>
        <%= render "public/post_comments/form", post: @post, post_comment: @post_comment %>
      </div>

  </div>
</div>
