<div class="container">
  <div class="row mx-2">
    <div class="col-md-5 col-sm-10 mx-sm-auto text-center shadow-lg bg-white mt-5">
      <%= render "admin/shared/error_messages", resource: resource %>
      <h2>Log in(管理者)</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :name %><br />
        <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <div class="actions my-2">
        <%= f.submit "Log in", class: 'btn btn-primary' %>
      </div>
      <% end %>
    </div>
  </div>
</div>
