<div class="container">
  <div class="row">
    <div class="col-md-11 mx-auto">
      <div class="my-3">
        <h3 class="top_title text-center"><strong>Welcome!</strong></h3>
        <p class="top_title text-center">
          Nice Shop Photosはお店の外観、内装を投稿できるサイトです。<br>
          詳しくは<%= link_to "こちら", about_path, class: "link top_title" %>
        </p>
      </div>
      <!--メインビジュアル-->
      <div class="swiper mt-2">
        <div class="swiper-wrapper">

          <div class="swiper-slide mx-auto">
            <%= image_tag 'slide1.jpg', size: "1015x500" %>
          </div>
          <div class="swiper-slide">
            <%= image_tag 'slide2.jpg', size: "1015x500" %>
          </div>
          <div class="swiper-slide">
            <%= image_tag 'slide3.jpg', size: "1015x500" %>
          </div>
          <div class="swiper-slide">
            <%= image_tag 'slide4.jpg', size: "1015x500" %>
          </div>
        </div>
        <!-- ナビゲーションボタン （前、次） -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>

　　　<!--新着投稿一覧-->
      <div class="row mx-auto my-3">
        <div class="d-flex flex-column">
          <!--新着投稿見出しfield-->
          <div class="d-flex flex-row">
            <h3 class="mr-5">新着投稿一覧</h3>
            <div>
              <% if user_signed_in? %>
                <%= link_to "すべての投稿を見る", posts_path, class: "link" %>
              <% else %>
                <p>投稿を閲覧する場合は<%= link_to "Sign up", new_user_registration_path, class: "link" %></p>
              <% end %>
            </div>
          </div>
          <!--投稿表示field-->
          <div class="col d-flex top_post">
            <% @posts.each do |post| %>
              <div class="card m-2" style="width: 18rem;">
                <div class="card-img-top">
                  <%= link_to post_path(post) do %>
                    <%= image_tag post.photos.first.image.url, size: "287x200" %>
                  <% end %>
                </div>
                <div class="card-body gap-2">
                  <div class="mb-2">
                    <%= link_to truncate(post.title, length: 12), post_path(post), class: "link" %>
                  </div>
                  <%= link_to user_path(post.user), class: "link" do %>
                    <%= image_tag post.user.get_profile_image, class: "rounded-circle profile_image" %>
                    <%= post.user.name %>
                  <% end %>
                  <div class="d-flex mt-2">
                    <p class="mr-3">コメント数: <%= post.post_comments.count %></p>
                    <p>いいね数: <%= post.likes.count %></p>
                  </div>
                  <div class="tag_list_box">
                    <% post.tags.each do |tag| %>
                      <%= link_to "#{tag.name}", tag_search_path(tag_id: tag.id), class: "btn btn-outline-secondary btn-sm" %>
                    <% end %>
                  </div>
               </div>
            </div>
            <% end %>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>