<div class="container">
  <div class="row">
    <div class="col-md-11 mx-auto">
      <div class="swiper mt-2">
        <div class="swiper-wrapper">
          <div class="swiper-slide mx-auto">
            <%= image_tag 'slide1.jpg', size: "1015x500" %>
          </div>
          <div class="swiper-slide">
            <%= image_tag 'slide2.jpg', size: "1015x500" %>
          </div>
          <div class="swiper-slide">
            <%= image_tag 'slide3.jpg', size: "1015x500" %>
          </div>
          <div class="swiper-slide">
            <%= image_tag 'slide4.jpg', size: "1015x500" %>
          </div>
        </div>
        <!-- ページネーションの要素 -->
        <div class="swiper-pagination"></div>
        <!-- ナビゲーションボタン （前、次） -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>

      <div class="row mx-auto my-3">
        <div class="d-flex">
          <h3 class="my-3 mr-2">新着投稿一覧</h3>
          <% @posts.each do |post| %>
          <div class="card m-2">
            <div class="card-img-top">
              <%= link_to post_path(post) do %>
                <%= image_tag post.photos.first.image.url, size: "233x150" %>
              <% end %>
            </div>
            <div class="card-body gap-2">
              <div class="mb-2">
                <%= link_to post.title, post_path(post) %>
              </div>
              <%= link_to user_path(post.user) do %>
                <%= image_tag post.user.get_profile_image(50, 50), class: "rounded-circle" %>
                <%= post.user.name %>
              <% end %>
              <div class="d-flex mt-2">
                <p class="mr-3">コメント数: <%= post.post_comments.count %></p>
                <p>いいね数: <%= post.likes.count %></p>
              </div>
            </div>
          </div>
          <% end %>
        </div>

        <div class="d-grid gap-2">
          <%= link_to "すべての投稿を見る", posts_path %>
          <p>投稿を閲覧する場合は<%= link_to "Sign up", new_user_registration_path %></p>
        </div>
      </div>

    </div>
  </div>
</div>