<div class="container">
  <div class="row">
    <div class="col-md-11 mx-auto my-3">
      <h3 class="text-center my-3">登録されたタグ一覧</h3>

      <table class="table table-hover bg-white">
        <thead>
          <tr class="table-color">
            <th>タグID</th>
            <th>タグ名</th>
            <th>紐づけされた投稿数</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        <% @tags.each do |tag| %>
          <tr>
            <td><%= tag.id %></td>
            <td><%= tag.name %></td>
            <td><%= tag.posts.count %></td>
            <td><%= link_to "削除", admin_tag_path(tag), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-secondary" %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
      <div class="pagination justify-content-center ml-5">
        <%= paginate @tags, theme: 'bootstrap-5' %>
　　　</div>

    </div>
  </div>
</div>