<table class="table table-hover bg-white">
  <thead>
    <tr class="table-color">
      <th>写真</th>
      <th>タイトル</th>
      <th>ユーザー名</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <% posts.each do |post| %>
  <tbody>
    <tr>
      <td>
        <%= link_to admin_post_path(post) do %>
          <%= image_tag post.photos.first.image.url, class: "photo_content_thumbnail" %>
        <% end %>
      </td>
      <td>
        <%= link_to admin_post_path(post), class: "link" do %>
          <%= truncate(post.title, length: 15) %>
        <% end %>
      </td>
      <td>
        <%= link_to admin_user_path(post.user), class: "link" do %>
          <%= image_tag post.user.get_profile_image, class: "rounded-circle profile_image" %>
          <%= post.user.name %>
        <% end %>
      </td>
      <td>
        コメント数: <%= post.post_comments.count %>
        いいね数: <%= post.likes.count %><br>
        <i class="fas fa-tag"></i><%= post.tags.map(&:name).join(', ') %>
      </td>
      <td><%= link_to "編集する", edit_admin_post_path(post), class: "btn btn-secondary" %></td>
    </tr>
  </tbody>
  <% end %>
</table>
<div class="pagination justify-content-center">
  <%= paginate posts, theme: 'bootstrap-5' %>
</div>