<table class="table table-hover">
  <thead>
    <tr>
      <th>写真</th>
      <th>タイトル</th>
      <th>ユーザー名</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <% posts.each do |post| %>
  <tbody>
    <tr>
      <td>
        <%= link_to admin_post_path(post) do %>
          <%= image_tag post.photos.first.image.url, size: "150x150" %>
        <% end %>
      </td>
      <td>
        <%= link_to admin_post_path(post) do %>
          <%= post.title %>
        <% end %>
      </td>
      <td>
        <%= link_to admin_user_path(post.user) do %>
          <%= image_tag post.user.get_profile_image(80, 80), class: "rounded-circle" %>
          <%= post.user.name %>
        <% end %>
      </td>
      <td>コメント数: <%= post.post_comments.count %></td>
      <td><%= link_to "編集する", edit_admin_post_path(post), class: "btn btn-secondary" %></td>
    </tr>
  </tbody>
  <% end %>
</table>
<div class="pagination justify-content-center">
  <%= paginate posts %>
</div>