<div class="container">
  <div class="row">
    <div class="col-md-11 my-3 mx-auto">
      <div class="d-flex justify-content-center mb-2">
        <%= render "searches/form" %>
      </div>
      <h3 class="my-3 text-center">投稿一覧</h3>
      <div class="col my-2 text-center">
        <%= link_to "新しい順", admin_posts_path(latest: "true"), class: "link" %>
        |<%= link_to "古い順", admin_posts_path(old: "true"), class: "link" %>
        |<%= link_to "いいね順", admin_posts_path(popular: "true"), class: "link" %>
      </div>
      <%= render "admin/posts/index", posts: @posts %>
    </div>
  </div>
</div>
