<div class="container">
  <div class="row mx-2">
    <div class="col-md-5 col-sm-10 mx-sm-auto text-center shadow-lg">
    <h2>Sign up</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "public/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :name %>
        <p>(半角英数字3~30字)</p>
        <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
      </div>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :password %>
          <p>(半角英数字6文字以上)</p>
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="d-grid gap-2 my-2">
        <%= f.submit "Sign up", class: 'btn btn-success' %>
        <%= link_to "ゲストログイン", users_guest_sign_in_path, method: :post, class: 'btn btn-secondary' %>
      </div>
    <% end %>
    </div>
  </div>
</div>
