<div class="container">

  <% if @model == "user" %>
    <% if admin_signed_in? %>
    <!--admin側：ユーザー検索結果-->
      <div class="row">
        <div class="col-md-11 mx-auto my-3">
          <div class="d-flex justify-content-center mb-2">
            <%= render "searches/form" %>
          </div>
          <h3 class="my-3 text-center">Users search for "<%= @content %>"</h3>
          <%= render "admin/users/index", users: @records %>
        </div>
      </div>
    <% else %>
    <!--user側：ユーザー検索結果-->
      <div class="row">
        <div class="col-md-11 mx-auto my-3">
          <div class="d-flex justify-content-center mb-2">
            <%= render "searches/form" %>
          </div>
          <h3 class="my-3 text-center">Users search for "<%= @content %>"</h3>
          <%= render "public/users/index", users: @records %>
        </div>
      </div>
    <% end %>

  <% elsif @model == "post" %>
    <% if admin_signed_in? %>
    <!--admin側：投稿検索結果-->
      <div class="row">
        <div class="col-md-11 mx-auto my-3">
          <div class="d-flex justify-content-center mb-2">
            <%= render "searches/form" %>
          </div>
          <h3 class="my-3 text-center">Posts search for "<%= @content %> <%= @tag %>"</h3>
          <div class="col my-2 text-center">
            <%= link_to "新しい順", search_path({ latest: "true", model: "post", content: @content, tag: @tag }), class: "link"  %>
            |<%= link_to "古い順", search_path({ old: "true", model: "post", content: @content, tag: @tag }), class: "link"  %>
            |<%= link_to "いいね順", search_path({ popular: "true", model: "post", content: @content, tag: @tag }), class: "link" %>
          </div>
          <%= render "admin/posts/index", posts: @records %>
        </div>
      </div>
    <% else %>
    <!--user側：投稿検索結果-->
      <h3 class="my-3 text-center">Posts search for "<%= @content %> <%= @tag %>"</h3>
      <div class="row no-gutters">
        <%= render "public/posts/sidebar", tag_list: @tag_list %>
        <div class="col-md-8">
          <div class="my-2 text-center">
            <%= link_to "新しい順", search_path({ latest: "true", model: "post", content: @content, tag: @tag }), class: "link"  %>
            |<%= link_to "古い順", search_path({ old: "true", model: "post", content: @content, tag: @tag }), class: "link"  %>
            |<%= link_to "いいね順", search_path({ popular: "true", model: "post", content: @content, tag: @tag }), class: "link" %>
          </div>
          <%= render "public/posts/index", posts: @records %>
        </div>
        <div class="mt-3 mx-auto">
          <%= paginate @records, theme: 'bootstrap-5' %>
        </div>
      </div>
    <% end %>
  <% end %>

</div>
