<div class="container">
  <div class="row">
    <div class="col-md-11 mx-auto my-3">

      <% if @model == "user" %>
        <% if admin_signed_in? %>
          <h3 class="my-3 text-center">Users search for "<%= @content %>"</h3>
          <%= render "admin/users/index", users: @records %>
        <% else %>
          <h3 class="my-3 text-center">Users search for "<%= @content %>"</h3>
          <%= render "public/users/index", users: @records %>
        <% end %>
      <% elsif @model == "post" %>
        <% if admin_signed_in? %>
          <h3 class="my-3 text-center">Posts search for "<%= @content %>"</h3>
          <%= render "admin/posts/index", posts: @records %>
        <% else %>
          <h3 class="my-3 text-center">Posts search for "<%= @content %>"</h3>
          <div class="col">
            <%= link_to "新しい順", search_path({ latest: "true", model: "post", content: @content })  %>
            |<%= link_to "古い順", search_path({ old: "true", model: "post", content: @content })  %>
            |<%= link_to "いいね順", search_path({ popular: "true", model: "post", content: @content }) %>
          </div>
          <%= render "public/posts/index", posts: @records %>
        <% end %>
      <% end %>

    </div>
  </div>
</div>
