<table class="table table-hover bg-white">
  <thead>
    <tr>
      <th>ユーザーID</th>
      <th>プロフィール画像</th>
      <th>ユーザー名</th>
      <th></th>
    </tr>
  </thead>
  <% users.each do |user| %>
  <tbody>
    <tr>
      <td><%= user.id %></td>
      <td>
        <%= link_to admin_user_path(user) do %>
          <%= image_tag user.get_profile_image(100, 100), class: "rounded-circle" %>
        <% end %>
      </td>
      <td>
        <%= link_to admin_user_path(user) do %>
          <%= user.name %>
        <% end %>
      </td>
      <td>
        <% unless user.name == "guest" %>
          <%= link_to "編集する", edit_admin_user_path(user), class: "btn btn-secondary" %>
        <% end %>
      </td>
    </tr>
  </tbody>
  <% end %>
</table>
<div class="pagination justify-content-center">
  <%= paginate users %>
</div>