<div class="container">
  <div class="row">
    <div class="col-md-11 shadow-lg mx-auto my-3">
      <h2 class="text-center"><%= @user.name %>さんの会員情報</h2>
      <div class="float-right mb-3">
        <%= link_to "編集する", edit_admin_user_path(@user), class: "btn btn-outline-secondary" %>
      </div>

      <table class="table table-borderless bg-white">
        <tbody>
          <tr>
            <td>ユーザーID</td>
            <td><%= @user.id %></td>
          </tr>
          <tr>
            <td>プロフィール画像</td>
            <td><%= image_tag @user.get_profile_image(100, 100), class: "rounded-circle" %></td>
          </tr>
          <tr>
            <td>ユーザー名</td>
            <td><%= @user.name %></td>
          </tr>
          <tr>
            <td>メールアドレス</td>
            <td><%= @user.email %></td>
          </tr>
          <tr>
            <td>登録日時</td>
            <td><%= @user.created_at.strftime('%Y/%m/%d') %></td>
          </tr>
          <tr>
            <td>
              投稿数: <%= @user.posts.count %>
              コメント数: <%= @user.post_comments.count %>
              いいね数: <%= @user.likes.count %>
            </td>
          </tr>
          <tr>
            <td>
              フォロー数: <%= @user.followings.count %>
              フォロワー数: <%= @user.followers.count %>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
