<div class="container">
  <div class="row mx-2">
    <div class="col-md-5 col-sm-10 mx-sm-auto text-center bg-white shadow-lg my-5">
      <h2>Log in</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= render "public/shared/error_messages", resource: resource %>
        <div class="field">
          <%= f.label :name %><br />
          <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
        </div>

        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>

        <div class="d-grid gap-2 my-3 text-center">
          <%= f.submit "Log in", class: 'btn btn-primary' %>
          <%= link_to "ゲストログイン", users_guest_sign_in_path, method: :post, class: 'btn btn-secondary' %>
        </div>
      <% end %>

      <div class="mt-5 mb-3 d-flex d-grid gap-2 justify-content-center">
        <h5 class="my-auto mr-3">管理者ログイン</h5>
        <%= link_to "Log in", new_admin_session_path, class: 'btn btn-primary' %>
      </div>

    </div>
  </div>
</div>
