<table class="table table-hover bg-white">
  <thead>
    <tr class="table-color">
      <th>プロフィール画像</th>
      <th>ユーザー名</th>
      <th>自己紹介</th>
      <th></th>
    </tr>
  </thead>
  <% users.each do |user| %>
  <tbody>
    <tr>
      <td>
        <%= link_to user_path(user) do %>
          <%= image_tag user.get_profile_image, class: "rounded-circle profile_image_userindex" %>
        <% end %>
      </td>
      <td>
        <%= link_to user_path(user), class: "link" do %>
          <%= user.name %>
        <% end %>
      </td>
      <td><%= truncate(user.introduction, length: 30) %></td>
      <td id ="relationship_<%= user.id %>">
        <% unless user.email == "guest@example.com" then %>
          <%= render "public/relationships/btn", user: user %>
        <% end %>
      </td>
    </tr>
  </tbody>
  <% end %>
</table>
<div class="pagination justify-content-center">
  <%= paginate users, theme: 'bootstrap-5' %>
</div>