<div class="container">
  <div class="row">
    <div class="col-md-11 my-3 mx-auto">
      <div class="d-flex justify-content-center mb-2">
        <%= render "searches/form" %>
      </div>
      <h3 class="text-center"><%= @user.name %>さんのユーザーページ</h3>

      <div class="row d-flex my-3">
      <div class="col-md-3">
        <%= image_tag @user.get_profile_image(300, 300), class: "rounded-circle" %>

        <!--<#%= link_to likes_path do %>-->
        <!--  <i class="fas fa-heart"></i>-->
        <!--<#% end %>-->
        <!--<#%= link_to "followings", followings_path %>-->
        <!--<#%= link_to "followers", followers_path %>-->
      </div>
      <div class="col-md-6 offset-md-1">
        <h4>ユーザー名</h4>
        <%= @user.name %>
        <h4>自己紹介</h4>
        <%= simple_format(@user.introduction) %>

        <% if @user.name == current_user.name %>
          <% unless @user.email == "guest@example.com" then %>
            <div class="d-grid gap-2 my-2">
              <%= link_to edit_user_path, class: 'btn btn-outline-secondary px-5' do %>
                <i class="fas fa-user-cog"></i>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
      <table class="table my-3">
        <thead>
          <tr>
            <th>写真</th>
            <th>タイトル</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @posts.each do |post| %>
            <tr>
              <td>
                <%= link_to post_path(post) do %>
                  <%= image_tag post.photos.first.image.url, size: "150x150" %>
                <% end %>
              </td>
              <td>
                <%= link_to post_path(post) do %>
                  <%= post.title %>
                <% end %>
              </td>
              <td>コメント数: <%= post.post_comments.count %></td>
              <td>
                <% if post.user == current_user %>
                  <%= link_to "編集", edit_post_path(post), class: "btn btn-primary" %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="pagination justify-content-center">
        <%= paginate @posts %>
      </div>
      </div>
    </div>
  </div>
</div>
