<div class="container">
  <div class="row">
    <div class="col-md-11 my-3 mx-auto">
      <div class="d-flex justify-content-center mb-2">
        <%= render "searches/form" %>
      </div>
      <h3 class="text-center"><%= @user.name %>さんのユーザーページ</h3>

      <div class="row d-flex justify-content-center my-3">
        <!--ユーザー情報-->
        <div class="col-md-3">
          <%= image_tag @user.get_profile_image(200, 200), class: "rounded-circle" %>

          <% unless @user.email == "guest@example.com" then %>
            <p class="my-2">
              <%= link_to likes_user_path(@user) do %>
                <i class="fas fa-heart"></i>いいね一覧
              <% end %>
            </p>
            <p class="my-2">
              <%= link_to "フォロー一覧", user_followings_path(@user) %>
            </p>
            <p class="my-2">
              <%= link_to "フォロワー一覧", user_followers_path(@user) %>
            </p>
          <% end %>
        </div>

        <div class="col-md-6 offset-md-1 d-grid gap-2">
          <h4>ユーザー名</h4>
          <%= @user.name %>
          <h4>自己紹介</h4>
          <%= simple_format(@user.introduction) %>

          <% if @user.name == current_user.name %>
            <% unless @user.email == "guest@example.com" then %>
              <div class="my-5">
                <%= link_to edit_user_path, class: 'btn btn-outline-secondary px-5' do %>
                  <i class="fas fa-user-cog"></i>
                <% end %>
              </div>
            <% end %>
          <% else %>
            <% unless @user.email == "guest@example.com" then %>
              <div class="my-5">
                <div id="relationship">
                  <%= render "public/relationships/btn", user: @user %>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
        <!--ユーザーの投稿一覧-->
      <div class="row">
        <% @posts.each do |post| %>
        <div class="col-md-8 d-flex shadow-lg my-3 bg-white no-gutters mx-auto">

          <div class="align-items-center my-auto">
            <%= link_to post_path(post) do %>
              <%= image_tag post.photos.first.image.url, size: "200x200" %>
            <% end %>
          </div>

          <div class="flex-column my-auto ml-3">
            <div class="align-text-center mb-2">
              <%= link_to post_path(post) do %>
                <h5><strong><%= post.title %></strong></h5>
              <% end %>
            </div>
            <div class="d-grid gap-2 my-2">
              <%= link_to user_path(post.user) do %>
                <%= image_tag post.user.get_profile_image(60, 60), class: "rounded-circle" %>
                <%= post.user.name %>
              <% end %>
            </div>
            <div class="my-2">
              <p><%= post.body %></p>
            </div>
            <div class="d-flex">
              <p class="mr-3">コメント数: <%= post.post_comments.count %></p>
              <div id="like_buttons_<%= post.id %>">
                <%= render "public/likes/likes-btn", post: post %>
              </div>
            </div>
            <div class="tag_list_box">
              <% post.tags.each do |tag| %>
                <%= link_to "#{tag.name}", tag_search_path(tag_id: tag.id), class: "btn btn-outline-secondary btn-sm" %>
              <% end %>
            </div>
          </div>
        </div>
        <% end %>
      </div>

        <div class="pagination justify-content-center">
          <%= paginate @posts %>
        </div>

    </div>
  </div>
</div>
